<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t('help.errors.description') %>">
<% end %>

<h1><%= I18n.t("help.errors.title") %></h1>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover table-pos-terminals">
	<thead>
    <tr>
      <th>CODE</th>
      <th>Description</th>
      <th>Possible fix</th>
    </tr>
	</thead>
  <tbody>
		<tr>
      <td>42</td>
			<td>Erro 42 significa que a chave injetada no slot do POS para realizar a criptografia do PIN, não foi encontrada</td>
			<td></td>
		</tr>
		<tr>
      <td>-101</td>
			<td>Timeout na inicialização do chip Gprs</td>
			<td></td>
		</tr>
		<tr>
      <td>-102</td>
			<td>Parâmetros de discagem invalidos</td>
			<td></td>
		</tr>
    <tr>
      <td>-103</td>
			<td></td>
			<td></td>
		</tr>
    <tr>
      <td>-104</td>
			<td>Erro ao conectar com o cloudwalk switch</td>
			<td></td>
		</tr>
    <tr>
      <td>-105</td>
			<td>Protocolo desconhecido</td>
			<td></td>
		</tr>
    <tr>
      <td>-106</td>
			<td>Mídia desconhecida</td>
			<td></td>
		</tr>
    <tr>
      <td>-107</td>
			<td>Não implementado</td>
			<td></td>
		</tr>
    <tr>
      <td>-108</td>
			<td>Falha na conexão ethernet</td>
			<td>Plug in the cable! Check the configurations</td>
		</tr>
    <tr>
      <td>-109</td>
			<td>Falha na conexao PPP</td>
			<td></td>
		</tr>
    <tr>
      <td>-110</td>
			<td>Falha na conexao SDLC</td>
			<td></td>
		</tr>
    <tr>
      <td>-125</td>
			<td>Falha na conexao wi fi</td>
			<td>Verificar se o terminal possui surporte a wifi, verificar config.</td>
		</tr>
    <tr>
      <td>-128</td>
			<td>Erro no TOTP</td>
			<td></td>
		</tr>
    <tr>
      <td>-129</td>
			<td></td>
			<td></td>
		</tr>
    <tr>
      <td>-2</td>
			<td></td>
			<td></td>
		</tr>
  </tbody>
</table>
