#commands {
  margin-left: 0;
  margin-bottom: 25px;
}

#commands li {
  float: left;
  list-style: none;
  width: 250px;
}

#display { margin-top: 45px; }

.navbar-container{ margin: 0 6px; }

.navbar .nav {
  float: none;
  margin: 0;
}

.navbar-fixed-top{
  -webkit-box-shadow:0 1px 5px rgba(0,0,0,.45);
  -moz-box-shadow:0 1px 5px rgba(0,0,0,.45);
  box-shadow:0 1px 5px rgba(0,0,0,.45);
}

nav#topics {
  margin-top: 16px;
}

a.active {
  font-weight: bolder;
}

nav#topics p {
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 6px;
}

nav#topics ul {
  margin: 0 0 20px 15px;
}

nav#topics li {
  list-style: none;
  line-height: 30px;
}

html {
  overflow-y: scroll;
}

body > .navbar {
  font-size: 13px;
}

#top {
  margin-top: 45px;
  margin-bottom: 85px;
}

.img-polaroid { margin: 5px 0 18px 0;}

h1 {
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  margin-bottom: 0;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  color: #333;
}

h2 {
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  margin: 35px 0 25px 0;
  border-bottom-color: #DDD;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  color: #546872;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 33px;
  line-height: 33px;
}

h3 {
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  margin: 25px 0 10px 0;

  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  height: 25px;
  line-height: 25px;
  color: #333;
}

h4 {
  -webkit-font-smoothing: antialiased;
  font-family: helvetica, arial, freesans, clean, sans-serif;

  font-size: 14px;
  color: #444;
  font-style: normal;
  font-variant: normal;
}
h4 span{
  font-weight: lighter;
}

p{
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: helvetica, arial, freesans, clean, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 21px;
  vertical-align: baseline;
}

ol.table-of-contents{
  margin-left: 20px;
}

.pager { margin: 40px 0; }

span.code {
  font-family: courier;
  border: 1px solid #CCC;
  background-color: #EEE;
  font-size: 14px;
  padding: 1px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

p.more-info {
  color: #888;
  margin-bottom: 25px;
}

.external{
  padding-right: 15px;
  background: transparent url("../img/external.png") no-repeat right center;
}

.command{
  padding-right: 18px;
  background: transparent url("../img/command.png") no-repeat right center;
}

.command-short {
  height: 80px;
  padding-top: 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.command-short a{
  margin: 10px;
}

.command-short p{
  margin: 0 10px;
  font-size: 12px;
}

.group-of-commands{
  margin: 25px 0 35px 0;
  text-align: center;
}

.commands-group{
  padding: 6px 12px;
  font-size: 13px;
}

.collection{
  -webkit-background-clip: padding-box;
  background-attachment: scroll;
  background-clip: padding-box;
  background-color: #ECECEC;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F4F4), to(#ECECEC));
  background-origin: padding-box;
  border-bottom-color: #D4D4D4;

  border-radius: 550px;
  -moz-border-radius: 550px;
  -webkit-border-radius: 550px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #D4D4D4;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #D4D4D4;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #D4D4D4;

  border-top-style: solid;
  border-top-width: 1px;
  color: #333;
  cursor: pointer;
  display: block;
  float: left;
  font-family: sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 13px;
  line-height: normal;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  outline-color: #333;
  outline-style: none;
  outline-width: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 5px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 5px;
  position: relative;
  text-decoration: none;
  text-shadow: white 1px 1px 0px;
  white-space: nowrap;
  zoom: 1;
}

.group-of-commands li{
  display: inline;
  margin-right: 10px;
  padding: 5px;
  line-height: 50px;
}

.posxml-commands .row-fluid{
  margin-bottom: 22px;
}

/* Package download */
.disabled {
  color: #aaa;
}
.package div{
  float: left;
  margin-right: 25px;
}

.package br{
  clear: both;
  display: block;
}

.package p{
  margin-top: 15px;
}

/* Banner */
#banner{
  margin: 20px 0;
  border-bottom: 1px solid #ddd;
  height: 80px;

  padding-top: 33px;
}

#banner img{
  margin-top: -30px;
}

/* Search */
#query { margin-top: 21px; }

/* Menu */
.accordion{
  margin-top: 19px;
}
.accordion-group{
  margin-bottom: 7px;
}

.accordion-heading a{
  font-weight: bolder;
  text-decoration: none;
  color: #777;
}
.accordion-inner {
  background-color: #eee;
}
.accordion-inner ul {
  list-style: none;
  margin: 0;
}
.accordion-inner ul li.active {
  font-weight: bolder;
}
.accordion-inner ul li{
  line-height: 30px;
}
.accordion-inner ul li a{
  color: #777;
  text-shadow: 1px 1px 1px #fff;
  font-size: 14px;
}

.features { list-style: none; margin: 12px 0 40px 0; }

.features li {
  font-size: 14px;
  margin-bottom: 15px;
}

.img-tutorial {
  margin-bottom: 15px;
}

.fields{
  margin-top: 10px;
}

ol li { line-height: 2em; }

/* Commands */
h2.command-header{
  border-bottom: 1px dashed #ccc;
  font-weight: lighter;
  margin: 45px 0 15px 0;
}

.backtotop {float: right; margin-top: -40px;}

.data-type { color: #888; }

.parameters li{
  margin-bottom: 15px;
}

/* Footer */
.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}

/* POS Box */
.pos{
  width: 310px;
  letter-spacing: 2.5px;
  margin: 25px 0;
}

.pos pre{
  margin: 8px 0 0 5px;
  line-height:1.2;
}

.pos div{
  font-family: courier, "courier new";
  margin: 10px 15px 0 15px;
}

.pos span.title{
  font-size: 44px;
  letter-spacing: -4px;
  word-spacing: -7px;
}

.pos span.selected{
  background-color: #597F3F;
  color: #B9EF95;
  text-shadow: none;
  display: block;
  margin-bottom: -28px;
}

/* Models */
.models {color: #999; margin-top: 5px; }

.verix, .evo{
  height: 200px;
  border: 8px solid #597F3F;
  background-color: #709D52;
  text-shadow: #94BF77 1px 1px 1px;
  color: #333;
}

.verix pre, .evo pre{
  border: none;
  background-color: #709D52;
  text-shadow: #94BF77 1px 1px 1px;
  color: #333;
  font-size: 19px;
}

/* Note */
p.note {
  background: #eef url(/img/note.png) no-repeat center left;
  border:1px solid #dde;
  color:#223;
  padding: 1.2em 1em 1.2em 55px;
  margin: 20px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#next-section{
  color: #555;
  margin-top: 35px;
  font-size: 20px;
  float: right;
}

/* GITHUB BUTTON */
.button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff;
  font:13px/normal sans-serif;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

.button:hover,
.button:focus,
.button:active {
  border-color: #3072b3;
  border-bottom-color: #2a65a0;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  color: #fff;
  background-color: #3072b3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}

.button:active,
.button.active {
  border-color: #2a65a0;
  border-bottom-color: #3884CF;
  color: #fff;
  background-color: #3072b3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
  background-image: -moz-linear-gradient(#3072b3, #599bdc);
  background-image: -o-linear-gradient(#3072b3, #599bdc);
  background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button.primary {
  border-color: #3072b3;
  border-bottom-color: #2a65a0;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  color: #fff;
  background-color: #3072b3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  background-image: -o-linear-gradient(#599bdc, #3072b3);
  background-image: linear-gradient(#599bdc, #3072b3);
}

.button.pill {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

.search-listing {
  list-style: none;
}

.search-listing li {
  font-size: 13px;
  font-weight: bold;
  margin: 20px 0 0 -25px;
}

.search-listing li:first-child {
  margin-top: 20px;
}

.search-listing li a {
  background: url("../img/icon_sprite_16.png") no-repeat;
  background-position: left 4px;
  padding: 4px 0 4px 22px;
  text-decoration: none !important;
}

.add-on {
  background: url("../img/icon_sprite_16.png") no-repeat;
  background-position: 5px -73px;
}

/* Override Bootstrap .close class */
.rainbow .close {
  float: none;
  font-size: 13px;
  font-weight: normal;
  text-shadow: none;
  opacity: 1;
}

@media print {
  h1, h2, h3, h4 { page-break-after: avoid; }
  div.pos { page-break-inside: avoid; }
  #banner, #query, .pager, .side-navigation, .navbar { display: none;}
  .external{padding-right: 0; }
  p.note { padding: 1em; }
}
