<% content_for :docs_description do %>
  <meta name="docs:description" content="<%= I18n.t("guides.emulator_card_swipe.description") %>">
<% end %>

<h1><%= I18n.t("guides.emulator_card_swipe.title") %>Swiping cards on the IDE's emulator</h1>

Many, if not the vast majority of the POS applications,
will require to get the information from credit or debit cards,
therefore it's extremely desirable to make sure the software
in development runs smoothly even before hitting the real
device. Fortunately, CloudWalk's IDE comes with a very simple
way to use cards with it's emulator! In this page, you'll learn
how to create and use cards with the IDE's emulator, enjoy!

<h2>Creating cards</h2>

Once your project's source code is open inside the IDE,
you'll see a blue vertical bar at the left, holding the icons
to the main functionalities of the IDE. In this bar you'll find
an icon in the shape of a card, let's go click it:

<img src="http://i.imgur.com/6KCcdBT.gif" class="img-polaroid" alt="Cards icon and panel" />

A panel will appear with two cards. These cards are completely
editable and selectable, simply click in the texts and they will
become input fields, where you can put the information you want.

<img src="http://i.imgur.com/317vBbf.gif" class="img-polaroid" alt="Editing cards" />

Once you're done, click out of the fields, and the information
will be saved. The last step before running the emulation is to
<b>click the card you want to use</b>, it will end up highlighted
in blue. As you see, there are several cards on the list,
edit any of them and click the one of your choice!

<h2>Emulating</h2>

Now, let's emulate the POSXML command
<a href="https://docs.cloudwalk.io/en/posxml/commands/getcardvariable">getcardvariable</a>,
with the following example code:

<pre><code><stringvariable value="" variable="sReturn"/>

<getcardvariable firstmessage="Pass the card in the magnetic reader" maximum="16" minimum="12" secondmessage="Enter the number of the card" variable="$(sReturn)" />

<display column="0" line="0" message="$(sReturn)" />

<waitkey/></code></pre>

After clicking the card you want to use (the blue one),
go to the emulator and click on the <b>POWER</b> green button
to start the action. The emulation lasts some seconds to start,
but once it's running, the information is retrieved from the
card created in an instant, and you'll continue working on
your project without further delays.
You can see it happening here:

<img src="http://i.imgur.com/ws5W4kA.gif" class="img-polaroid" alt="Emulation using the cards' information" />

<h3>Adding new cards</h3>

To add new cards, simply edit the last card available, a new card
will appear below instantly!

<img src="http://i.imgur.com/znUKvuU.gif" class="img-polaroid" alt="Emulation using the cards' information" />
