<% content_for :docs_description do %>
  <meta name="docs:description" content="Tutorial for CloudWalk's CLI">
<% end %>

<h1>CloudWalk's CLI - Reading logs</h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<p>
Finally, once your apps are working in your terminals, there are
two ways for you to see the logs:
</p>

<ul>
  <li>
    <b>Using the Manager:</b> You can enter in the Monitor of
    Transactions, find out more information about it
    <a href="https://docs.cloudwalk.io/en/walk-manager/transactions-monitor">here</a>.
  </li>
  <li>
    <b>Using the CLI:</b>
    Simply run <code>cloudwalk logs</code> and a stream of all
    the transactions happening between all your applications will
    appear.
  </li>
</ul>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + "Making tests", "cli/tests") %>
  </li>
</ul>
