<% content_for :docs_description do %>
  <meta name="docs:description" content="Tutorial for CloudWalk's CLI">
<% end %>

<h1>CloudWalk's CLI - Reading Magnetic Cards</h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<p class="note">
Page under construction.
</p>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + "Downloading applications", "cli/down-apps") %>
  </li>
  <li class="next">
    <%= link_to("Changing the Rakefile" + " &rarr;", "cli/rakefile") %>
  </li>
</ul>
