<% content_for :docs_description do %>
  <meta name="docs:description" content="Tutorial for CloudWalk's CLI">
<% end %>

<h1>CloudWalk's CLI - Set up</h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<p>The first thing needed is to install our CLI tool, using the following:</p>

<ul id="index-view-tab" class="nav nav-tabs">
  <li class="active"><a href="#index-tab1">Linux and OSX</a></li>
  <li><a href="#index-tab2">Windows</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="index-tab1">
    Install <code>git</code>
    (<a href="http://git-scm.com/book/en/v2/Getting-Started-Installing-Git">howto</a>)
    and <code>ruby</code>
    (<a href="https://www.ruby-lang.org/en/documentation/installation/">howto</a>).
    Git is required to create, clone and push changes to your applications, please use
    <a href="http://git-scm.com/book/en/v1/Getting-Started">this guide</a> to get started with git.
    <br>
    <br>

    Then get the tool running:
    <pre><code>curl https://cli.cloudwalk.io/install.sh | bash</code></pre>
  </div>

  <div class="tab-pane" id="index-tab2">
    The CLI is not yet available for Windows.<br>
    <!-- We're planning to have this for April
    <a href="https://cli.cloudwalk.io/windows.exe" id="file-request" class="btn btn-success">Download</a>
    <br>
    -->
    <br>
  </div>
</div>

<p>
Once installed, you can use <code>cloudwalk</code> from your
command line interface. In case you don't have yet a CloudWalk
account, you can create one using the following:
</p>

<pre><code><b>$ cloudwalk signup</b>
Welcome!
You're about to create a new cloudwalk account.
Please answer the following questions...
Your name (optional): Mr Tester
Your email: tester@cloudwalk.io
Your password:
Success!
Now access your account with <span style="color:#0ad">cloudwalk login</span>
</code></pre>

<p>
  Simply answer the questions and login with:
</p>

<pre><code><b>$ cloudwalk login</b>
Enter your email: tester@cloudwalk.io
Enter your password:
Logged in as <span style="color:#0ad">tester@cloudwalk.io</spam>.
</code></pre>

<p>
After you access your account, you'll be able to run more commands, such as:

<table class="table">
  <thead>
    <tr>
      <th>Command</th>
      <th>Description</th>
    </tr>
  </thead>
  <tr>
    <td><code>cloudwalk logout</code></td>
    <td>Logs out of your account.</td>
  </tr>
  <tr>
    <td><code>cloudwalk apps</code></td>
    <td>Shows the list of your applications.</td>
  </tr>
  <tr>
    <td><code>cloudwalk app</code></td>
    <td>Lets you create applications, show information about them, edit them and delete them.</td>
  </tr>
  <tr>
    <td><code>cloudwalk keys</code></td>
    <td>Shows information about all the SSH keys that are stored in your CloudWalk account. They're used to access and make changes to your repos, we'll get into it later.</td>
  </tr>
  <tr>
    <td><code>cloudwalk key</code></td>
    <td>Lets you add or remove keys from your account.</td>
  </tr>
  <tr>
    <td><code>cloudwalk logs</code></td>
    <td>Shows real time logs from all the applications related to your account.</td>
  </tr>
  <tr>
    <td><code>cloudwalk users</code></td>
    <td>Lets you display everyone who has access to your apps and manage them by adding <code>add</code> or <code>delete</code> to the command.</td>
  </tr>
</table>
</p>

<p>
The full list of commands is visible if you run
<code>cloudwalk</code> without any other additional command, not
all of them require you to be logged in.
</p>

<p>
Great! Now you're ready to create your new application.
</p>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + "Introduction", "cli/intro") %>
  </li>
  <li class="next">
    <%= link_to("Creating a new application" + " &rarr;", "cli/new-app") %>
  </li>
</ul>

<% content_for :javascripts do %>
  $('#index-view-tab a:first').tab('show');
  $('#index-view-tab a').click(function (e) { e.preventDefault(); $(this).tab('show'); });
<% end %>
