<% content_for :docs_description do %>
  <meta name="docs:description" content="Tutorial for CloudWalk's CLI">
<% end %>

<h1>CloudWalk's CLI - Set up</h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<p>The first thing needed is to install our CLI tool, using the following:</p>

<ul id="index-view-tab" class="nav nav-tabs">
  <li class="active"><a href="#index-tab1">Linux and OSX</a></li>
  <li><a href="#index-tab2">Windows</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="index-tab1">
    <pre><code>curl https://cli.cloudwalk.io/install.sh | bash</code></pre>
  </div>

  <div class="tab-pane" id="index-tab2">
    <a href="https://cli.cloudwalk.io/windows.exe" id="file-request" class="btn btn-success">Download</a>
    <br>
    <br>
  </div>
</div>

<p>
Once installed, you can use <code>cloudwalk</code> from your
command line interface. In case you don't have yet a CloudWalk
account, you can create one using the following:
</p>

<pre><code>cloudwalk signup</code></pre>

<p>
  It will ask your basic information to proceed, after that you'll
  need to login, this way:
</p>

<pre><code>cloudwalk login</code></pre>

<p>
Great! Now you're ready to create your new application.
</p>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + "Introduction", "cli/intro") %>
  </li>
  <li class="next">
    <%= link_to("Creating a new application" + " &rarr;", "cli/new-app") %>
  </li>
</ul>

<% content_for :javascripts do %>
  $('#index-view-tab a:first').tab('show');
  $('#index-view-tab a').click(function (e) { e.preventDefault(); $(this).tab('show'); });
<% end %>
