<% content_for :docs_description do %>
  <meta name="docs:description" content="Tutorial for CloudWalk's CLI">
<% end %>

<h1>CloudWalk's CLI - Reading Magnetic Cards</h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<p>
To read a magnetic card, simply use the method:
<code>Device::IO.read_card(timeout)</code>, the timeout is in
milliseconds, and it returns an object with the tracks available
using symbols, as follows:
</p>

<pre><code><b>puts</b> <span style="color:#0ad">"Pass Card..."</span>
card =  Device::IO.read_card(5000)
<b>puts</b> <span style="color:#0ad">"Track1 <span style="color:#a0d">#{card[<span style="color:#0d0">:track1</span>]} Track2:#{card[<span style="color:#0d0">:track2</span>]} Track3:#{card[<span style="color:#0d0">:track3</span>]}</span>"</span>
</code></pre>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + "Downloading applications", "cli/down-apps") %>
  </li>
  <li class="next">
    <%= link_to("Changing the Rakefile" + " &rarr;", "cli/rakefile") %>
  </li>
</ul>
