<% content_for :docs_description do %>
  <meta name="docs:description" content="Tutorial for logs patterns and anomalies">
<% end %>

<style type="text/css">
  .todo {
    font-size: 28px;
    color: red;
    font-family: monospace;
  }

</style>

<h1>Logs Patterns - Patterns Chart</h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<h4><%= I18n.t("general.index") %></h4>

<ol class="table-of-contents">
  <li><a href="#interface">Interface presentation</a></li>
  <li><a href="#parameters">Understanding the parameters</a></li>
</ol>

<h2 id="interface">Interface presentation</h2>

<p>When accessing the patterns tab, you'll see a screen similar to this:</p>

<span class="todo">Insert manager.cloudwalk.io/transactions/patterns?tab=2 screenshot</span>

<p>This nice colorful chart is a representation of your transactions. The horizontal axis corresponds to the size of the message sent by your POS and vertical axis corresponds to the size of the message received in response. </p>

<p>The colorful circles represents patterns: same color transactions belongs to same pattern.</p>

<p>The little gray circles are all anomalous transactions and don't belong to any pattern. The little gray squares represents the last ten anomalies.</p>

<p>The big square is your latest transaction, and if it is grey, it's an anomalous transaction.</p>

<p>You can interact with the chart:
<ul>
  <li>You can hover your mouse over any point to see more details about the transaction.</li>
  <li>You can click on the point to see even more information: it will show the message's buffers.</li>
  <li>You can drag the graph panel to see transactions other regions.</li>
  <li> You can also use your mousewheel to zoom in/out.</li>
</ul>

</p>

<p>The parameters on the right side of the screen are really important, so we will explain everything you need to know about them in the next section.</p>

<h2 id="parameters">Understanding the parameters</h2>

<p>In the area at the right side of your chart, you have two sliders you can use to change some parameters of your detector.</p>

<p>Our algorithm relies on two parameters that effectively setup its sensitiveness, one of them controlling how easy/hard it is to flag two transactions as similar and the other controlling how many of these similar transactions we need to define a new pattern:
<ol>
  <li><strong>Amount of similar transactions to define a pattern:</strong> this parameters controls how easy/hard it is for the algorithm to define a new pattern. If we say a few amount of similar transactions defines a pattern (slider to the left), then the algorithm will create new patterns after seeing few similar transactions. On the other extreme, setting this parameter to many similar transactions definning a pattern (slider to the right), the algorithm will have to see many similar transactions occuring before saying they form a pattern. In summmary, as the slider goes left to right you will be detecting less to more anomalies, or alternatively, more to less patterns.</li>
  <li><strong>How similar transactions should be to define a pattern:</strong> this parameter controls how easy/hard it is for two transactions be considered similar. If we say they need to be little similar (slider to left), then it will flag transactions as similar more easily, i.e, it will flag transactions with messages sizes not so similar as similar. On the other extreme, saying the transactions need to be very similar (slider to right), means the algorithm will be more selectful when flaging transactions as similar, i.e., it will only flag as similar transactions with close messages sizes. Oversimplifying, as the slider goes left to right you will be detecting less to more anomalies, or alternatively, more to less patterns.</li>
</ol>
</p>

<p>To give you more sense of the effect of each parameter in the algorithm, we provide an interactive simluation which you can play with:</p>

<span class="todo">Insert static figures showing the effect of each parameter in the chart</span>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + "Anomalies Report", "guides/logs-patterns/2") %>
  </li>
  <li class="next">
    <%= link_to("Notifications Settings" + " &rarr;", "guides/logs-patterns/4") %>
  </li>
</ul>
