<% content_for :docs_description do %>
  <meta name="docs:description" content="Tutorial for logs patterns and anomalies">
<% end %>

<style type="text/css">
  .todo {
    font-size: 28px;
    color: red;
    font-family: monospace;
  }
</style>

<style>
  input[type='range'] {
    -webkit-appearance: none;
    outline: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #FFF;
    height: 10px;
    width: 50%;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
  }
  input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,048,255,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
  }
  input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
  }
</style>

<h1>Logs Patterns - Patterns Chart</h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<h4><%= I18n.t("general.index") %></h4>

<ol class="table-of-contents">
  <li><a href="#interface">Interface presentation</a></li>
  <li><a href="#parameters">Understanding the parameters</a></li>
</ol>

<h2 id="interface">Interface presentation</h2>

<p>When accessing the patterns tab, you'll see a screen similar to this:</p>

<span class="todo">Insert manager.cloudwalk.io/transactions/patterns?tab=2 screenshot</span>

<p>This nice colorful chart (1) is a representation of your transactions. The horizontal axis corresponds to the size of the message sent by your POS and vertical axis corresponds to the size of the message received in response. Each circle represents a transaction with specific size for the sent and received messages.</p>

<p>The colorful circles represents patterns: same color transactions belongs to same pattern. You can see some smaller circles the same color the greater ones: they also belong to same pattern, but they barely made into it.</p>

<p>The little gray circles are all anomalous transactions and don't belong to any pattern. The little gray squares represents the last ten anomalies.</p>

<p>The big square is your latest transaction, and if it is grey, it's an anomalous transaction.</p>

<p>Notice that it can happen that one single circle represents more than one transaction. As an example, if you are sending pings from your POS to your server, you expect the same messages being sent and received each time, so their circles get stacked. When having this situation, you can hover the mouse over the circle representing the transaction to see how many times a transaction with same messages sizes was seen, along with other information, like the time of it's last occurrence. You can also click on it to see the message's buffer of its last ocurrence.</p>

<p>Here is all the ways you can interact with the chart:
<ul>
  <li>You can hover your mouse over any point to see more details about the transaction.</li>
  <li>You can click on the point to see even more information: it will show the message's buffers.</li>
  <li>You can drag the graph panel to see transactions other regions.</li>
  <li> You can also use your mousewheel to zoom in/out.</li>
</ul>
</p>

<p>The parameters on the right side of the screen (2) are really important, so we will explain everything you need to know about them in the next section.</p>

<h2 id="parameters">Understanding the parameters</h2>

<p>In the area at the right side of your chart, you have two sliders you can use to change some parameters of your detector.</p>

<p>Our algorithm relies on two parameters that effectively setup its sensitiveness, one of them controlling how easy/hard it is to flag two transactions as similar and the other controlling how many of these similar transactions we need to define a new pattern:
<ol>
  <li><strong>Amount of similar transactions to define a pattern:</strong> this parameters controls how easy/hard it is for the algorithm to define a new pattern. If we say a few amount of similar transactions defines a pattern (slider to the left), then the algorithm will create new patterns after seeing few similar transactions. On the other extreme, setting this parameter to many similar transactions definning a pattern (slider to the right), the algorithm will have to see many similar transactions occuring before saying they form a pattern. In summmary, as the slider goes left to right you will be detecting less to more anomalies, or alternatively, more to less patterns.</li>
  <li><strong>How similar transactions should be to define a pattern:</strong> this parameter controls how easy/hard it is for two transactions to be considered as similar. If we say they need to be little similar (slider to left), then it will flag transactions as similar more easily, i.e, it will flag transactions with messages sizes not so similar as similar. On the other extreme, saying the transactions need to be very similar (slider to right), means the algorithm will be more selectful when flaging transactions as similar, i.e., it will only flag as similar transactions with close messages sizes. Oversimplifying, as the slider goes left to right you will be detecting less to more anomalies, or alternatively, more to less patterns.</li>
</ol>
</p>

<p>To give you more sense of the effect of each parameter in the algorithm, we created a simulation which you can play with:<br></p>

<table>
  <tbody>
    <tr>
      <td><img id="chart" src="/img/clusters-simulation/image_6_5.svg"></td>
      <td>
        <table style="margin-bottom: 75%;" valign="top" >
          <thead>
            <tr><h2>Set parameters</h2></tr>
          </thead>
          <tbody>
            <tr><td colspan="2"><p style="margin-top: 0%;">What amount of similar transactions defines a pattern?</p></td></tr>
            <tr>
              <td>Few<input type="range"  min="1" max="10" value="5" step="1" width="100%" oninput="showChartEps(this.value)"/>Many</td>
            </tr>
            <tr><td colspan="2"><p style="margin-top: 10%;">How similar transactions should be to define a pattern?</p></td></tr> 
            <tr>
              <td>Little<input type="range"  min="1" max="10" value="5" step="1" oninput="showChartMinPts(this.value)"/> Very</td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<p>If you are having trouble understanding it, remember that each circle in this chart represents one transaction, each pattern being represented by its unique color: circles with same color pertains to same pattern. The small sized gray circles represents anomalous transactions and don't belong to any pattern.</p>

<p>Notice that when the parameters are somewhere in the middle of the scale we get reasonably patterns, so this may be the best setting for you. In fact, this is our default settings.</p>

<div>
<script type="text/javascript">
function showChartEps(eps)
{
  var minPts = document.getElementById("chart").src.split("_")[1];
  document.getElementById("chart").src = "/img/clusters-simulation/image_" + minPts + "_" + eps + ".svg"
}
function showChartMinPts(minPts)
{
  var eps = document.getElementById("chart").src.split("_")[2].split(".")[0];
  document.getElementById("chart").src = "/img/clusters-simulation/image_" + (11-minPts) + "_" + eps + ".svg"
  console.log(document.getElementById("chart").src)
}
</script>
</div>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + "Anomalies Report", "guides/logs-patterns/2") %>
  </li>
  <li class="next">
    <%= link_to("Notifications Settings" + " &rarr;", "guides/logs-patterns/4") %>
  </li>
</ul>
