<% content_for :docs_description do %>
  <meta name="docs:description" content="Tutorial for logs patterns and anomalies">
<% end %>

<style type="text/css">
  .todo {
    font-size: 28px;
    color: red;
    font-family: monospace;
  }

</style>

<h1>Logs Patterns - Tutorial, Overview</h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<h4><%= I18n.t("general.index") %></h4>

<ol class="table-of-contents">
  <li><a href="#what-is-anomaly">Overview</a></li>
  <li><a href="#interface">Interface presentation</a></li>
  <li><a href="#setting-parameters">Setting parameters</a></li>
</ol>

<h2 id="what-is-anomaly">Overview</h2>

<p>In this tutorial you will learn how to access a report with your latest anomalous transactions, how to see all your transactions patterns and anomalies in a nice chart, how to receive notifications via email or webhooks when something anomalous happens and how to change your settings.</p>

<p>Let's get started!</p>

<h2 id="interface">Interface presentation</h2>

<p>You can access all information for your patterns via CloudWalk Manager, at <a href='http://manager.cloudwalk.io/transactions/patterns' class='external'>manager.cloudwalk.io/transactions/patterns</a>.</p>

<p class="alert alert-warning" role="alert">You won't see anything at Manager unless you have done at least one transaction using your CloudWalk account.</p>

<p>This is the first screen you'll see:</p>

<span class="todo">Insert manager.cloudwalk.io/transactions/patterns screenshot</span>

<p>In the following parts of this tutorial we'll explain what you'll find accessing the anomalies tab (1), the patterns tab (2) and the notifications settings (3).

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + "Introduction", "guides/logs-patterns") %>
  </li>
  <li class="next">
    <%= link_to("Tutorial, Anomalies Report" + " &rarr;", "guides/logs-patterns/2") %>
  </li>
</ul>
