<% content_for :docs_description do %>
  <meta name="docs:description" content="Tutorial for logs patterns and anomalies">
<% end %>

<style type="text/css">
  .todo {
    font-size: 28px;
    color: red;
    font-family: monospace;
  }

</style>

<h1>Logs Patterns - Notifications Settings</h1>

<p class="more-info"><%= I18n.t("general.updated_at", :date => "16/09/2014") %></p>

<h4><%= I18n.t("general.index") %></h4>

<ol class="table-of-contents">
  <li><a href="#interface">Interface presentation</a></li>
  <li><a href="#setting-email">Setting an e-mail</a></li>
  <li><a href="#setting-webhook">Setting a webhook</a></li>
</ol>

<h2 id="interface">Interface presentation</h2>

<p>This is what you'll find when accessing the settings page:</p>

<img src="/img/en/guides/logs_patterns/settings.gif" class="img-tutorial img-polaroid" alt="Notifications tab" />

<p>In this screen you can setup notifications to be sent by us in case anomalous transactions are caught.</p> 

<p>Currently, there are two notifications mechanisms: e-mail and webhook (via HTTP POST). You can activate one, another or both.</p>

<h2 id="setting-email">Setting an e-mail</h2>

<p>To set an e-mail, just select the notification type as e-mail and type your e-mail in the e-mail address field. If you are registered in more than one company, you can subscribe to receive notifications for each one, just having to access this settings while logged in each account.</p>

<p>To keep things simple, we only allow subscrition of one e-mail per company, so if you want we to send notifications to a group of people, you can create an e-mail group with your provider.</p>

<h2 id="setting-webhook">Setting a webhook</h2>

<p>To set a webhook, just select the notification type as HTTP Post and type your webhook's URL in the URL field.</p>

<p>If we catch any anamolous transaction, we will send you a JSON payload with structure similar to this:</p>

<pre><code data-language="javascript">{
    "notification_type": "anomaly",
    "sent_at": "2014-09-17T21:35:17.136707",
    "description": {
        "url": "http://http-echo.cloudwalk.io",
        "count": 359098,
        "model_params": {
            "min_pts": 40,
            "eps": 20
        },
        "request": {
            "buffer": "\"012345678\"",
            "timestamp": "2014-09-17T21:35:02",
            "size": "9"
        },
        "response": {
            "buffer": "\"CLOUDWALK 012345678\" ",
            "timestamp": "2014-09-17T21:35:02",
            "size": "19"
        }
    }
}
</code></pre>

<ul class="pager">
  <li class="previous">
    <%= link_to("&larr; " + "Patterns Chart", "guides/logs-patterns/3") %>
  </li>
</ul>
